* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

body {
  background-color: #141414;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top : 2px;
  background-color:gray;
  color:white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}
nav .left {
  display: flex;
  margin-left: 2em;
}
nav .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding: 0.5em;
  width: 8rem;
}
nav .left .logo a {
  width: 100%;
}
nav .left .logo a img {
  max-width: 100%;
}
nav .left .mobile-menu {
  display: none;
}
nav .left .menu-list {
  display: flex;
}
nav .left .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.2em 1em 0.5em 1em;
}
nav .left .menu-list li a {
  font-size: 0.8rem;
}
nav .right {
  display: flex;
  margin-right: 2em;
}
nav .right .icon {
  padding: 0.5em 1em 0.5em 1em;
}

nav .right .search {
  border: 1px solid white;
  background-color: black;
}
nav .right .search .search-bar {
  display: flex;
}
nav .right .search .search-bar i {
  margin-right: 0.5em;
}
nav .right .search .search-bar input {
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
}
footer {
  width: 100%;
  margin-bottom: 2rem;
}
footer .wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
footer .wrap .social-icons i {
  font-size: 1.5rem;
  margin: 0 0.3em;
}
footer .wrap .options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
footer .wrap .options .option {
  color: #6f6f6f;
}
 main {
        font-family: Arial, sans-serif;
        display:flex;
        justify-content: center;
        align-items: center;
    }
   
.container {
    width: 90%; /* 컨테이너 너비 조정 */
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    align-items: center;
    
}
    .title {
        text-align: center;
        margin-bottom: 20px;
    }
    .seats-selection {
    	
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .seats-selection div {
    flex: 0.2; /* 작게 만들기 위해 너비 조정 */
    margin-right: 20px; /* 여백 조정 */
}
    .seats-selection div:last-child {
        margin-right: 0;
    }
    .seats-selection div label {
        display: block;
        margin-bottom: 10px;
    }
    .seats-selection div select {
        width: 100%;
        padding: 5px;
        margin-right:20px;
    }
    .screen {
    width: 60%;
    margin: 0 auto; /* 가로 중앙 정렬 */
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
        .seating-chart {
            display: grid;
            grid-template-columns: repeat(11, 30px);
            gap: 5px;
            justify-content: center;
        }
        .seat {
            width: 30px;
            height: 30px;
            background-color: #ddd;
        }
        .highlighted {
            background-color: black;
        }
        
        .row-label, .col-label {
            font-weight: bold;
        }
.line{
	
	margin-top : 20px;
	margin-bottom : 20px;
	width: 100%;
	border: 1px solid;
}
.movietitle{
	display: flex;
            justify-content:center;
            align-items: center;
}
option{
	color:black;
}
select{
	color: black;
}
.price{
	margin-top:30px;
	margin-left:30px;
}

 .disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }


