* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

body {
  background-color: #141414;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top : 2px;
  background-color:gray;
  color:white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}
nav .left {
  display: flex;
  margin-left: 2em;
}
nav .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding: 0.5em;
  width: 8rem;
}
nav .left .logo a {
  width: 100%;
}
nav .left .logo a img {
  max-width: 100%;
}
nav .left .mobile-menu {
  display: none;
}
nav .left .menu-list {
  display: flex;
}
nav .left .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.2em 1em 0.5em 1em;
}
nav .left .menu-list li a {
  font-size: 0.8rem;
}
nav .right {
  display: flex;
  margin-right: 2em;
}
nav .right .icon {
  padding: 0.5em 1em 0.5em 1em;
}

nav .right .search {
  border: 1px solid white;
  background-color: black;
}
nav .right .search .search-bar {
  display: flex;
}
nav .right .search .search-bar i {
  margin-right: 0.5em;
}
nav .right .search .search-bar input {
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
}
footer {
  width: 100%;
  margin-bottom: 2rem;
}
footer .wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
footer .wrap .social-icons i {
  font-size: 1.5rem;
  margin: 0 0.3em;
}
footer .wrap .options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
footer .wrap .options .option {
  color: #6f6f6f;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* 화면 중앙 배치를 위해 최소 높이 설정 */
    padding: 20px;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* 최대 너비 설정 */
    width: 100%; /* 가로 100% 채우기 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.container .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img.search-logo {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

td {
    text-align: right;
}
h1{
	color : black;
}