* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

body {
  background-color: #141414;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top : 2px;
  background-color:gray;
  color:white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
  background: black;
}
nav .left {
  display: flex;
  margin-left: 2em;
}
nav .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding: 0.5em;
  width: 8rem;
}
nav .left .logo a {
  width: 100%;
}
nav .left .logo a img {
  max-width: 100%;
}
nav .left .mobile-menu {
  display: none;
}
nav .left .menu-list {
  display: flex;
}
nav .left .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.2em 1em 0.5em 1em;
}
nav .left .menu-list li a {
  font-size: 0.8rem;
}
nav .right {
  display: flex;
  margin-right: 2em;
}
nav .right .icon {
  padding: 0.5em 1em 0.5em 1em;
}

nav .right .search {
  border: 1px solid white;
  background-color: black;
}
nav .right .search .search-bar {
  display: flex;
}
nav .right .search .search-bar i {
  margin-right: 0.5em;
}
nav .right .search .search-bar input {
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
}
footer {
  width: 100%;
  margin-bottom: 2rem;
}
footer .wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
footer .wrap .social-icons i {
  font-size: 1.5rem;
  margin: 0 0.3em;
}
footer .wrap .options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
footer .wrap .options .option {
  color: #6f6f6f;
}



@font-face {
  font-family: "Grotesque";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Grotesque Black";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
  font-weight: bold;
}


body{
	background-color: #ffffff;
}

/* #total{
	background-color: #fcfcf0;
	height: 1400px;
	padding-bottom: 30px;
} */


/* section */
#sec{
	/* width: 70%; */
	width:1344px;
	height: 603px;
	/* background-color: #fef8dc; */
	background-color: white;
	margin: 50px auto;
	/* border: 5px;
	border-style: solid; */
	/* border-color: #e71a0f; */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

#secTitle{
	width: 300px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	line-height: 100px;
}

#secMidTitle{
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
/* 	float: left;
	background-color: red;
	text-align: center;
	margin-left:85px;  */
}

#secMain{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

/* .act{
color: #e71a0f;
color:white;
font-weight: bolder;
background-color: #333;
border: 6px double #5c5c5c;
} */

.act {
    color: white;
    font-weight: bolder;
    background-color: #333;
    border: 1px solid #5c5c5c;
}

.sname{
	/* width: 22%; */
	width: 282px;
	overflow: auto;
	height: 429px;
	font-weight: bold;
}


.s{
	font-size: 13px;
/* 	padding-top: 20px;
	padding-left: 20px; */
	padding: 20px;
	margin: 6px;
	float: left;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.s1{
	/* width: 15%; */
	width: 150px;
	height: 429px;
	overflow: hidden;
	font-weight: bold;
}

.s2{
	width: 245px;
	font-weight: bold;
}

.s3{
	font-size: 13px;
	padding: 20px;
	margin: 6px;
	height: 429px;
	overflow: auto;
	float: left;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.s4{
	/* width: 16%; */
font-weight: bold;
	width:111px;
	height: 429px;
	overflow: hidden;
	
}

.s5{
	/* width: 15.7%; */
	/* width:168px; */
	width:241px;
	padding-left: 20px;
	height: 429px;
}

.sul {
    cursor: pointer;
    border-collapse: collapse;
}


.sch{
	color: red;
}

.dname{
	margin: 6px;
	width: 23.3%;
	height: 40px;
	float: left;
	border: 1px solid #282828;
	background-color: #282828;
	text-align: center;
}

.divc{
	margin: 6px;
	width:409px;
	height: 40px;
	float: left;
	border: 1px solid #282828;
	background-color: #282828;
	text-align: center;
}

.divT{
	margin: 6px;
	width: 109px;
	height: 40px;
	float: left;
	border: 1px solid #282828;
	background-color: #282828;
	text-align: center;
}

.divT2{
	margin: 6px;
	width: 241px;
	height: 40px;
	float: left;
	border: 1px solid #282828;
	background-color: #282828;
	text-align: center;
}

#btn{
	margin-top: 5px;
	margin-left: 5px;
	float: right;
	background-color: transparent;
	cursor: pointer;
}

.age{
	border-radius: 10px;
}

/* td{
	height: 25px;
} */

/* .mtd{
	width: 300px;
	padding-left: 10px;
	padding-bottom: 5px;
} */
.mtd {
	height:34px;
    width: 300px;
    padding-left: 10px;
    /* padding-bottom: 5px; */
    /* padding: 3px 4px; */
}

.mtd1 {
	color:black;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 3px;
}

/* .mtd2{
	width:78%;

	vertical-align: top;
	padding-left: 10px;
	padding-bottom: 5px;
} */
.mtd2 {
    width: 200px;
    /* vertical-align: top; */
    padding-left: 10px;
    /* padding-bottom: 5px; */
    /* padding: 3px; */
    height: 34px;
}

#year{
	text-align: center;
	width:100%;
	background-color: red;
	display: none;
	font-weight: bolder;
	font-size: 15px;
}


.soldout {
	pointer-events: none;
	color: #dcd9d9;
}


.sbox{
	background-color: red;
}

.corn3 {
    position: absolute;
    width: 5%;
    margin-left: -136px;
    margin-top: 324px;
    opacity: 30%;
}

.corn4 {
    position: absolute;
    width: 5%;
    margin-left: 113px;
    margin-top: 311px;
    opacity: 30%;
}
.dateSelect {
    width: 47px;
    font-size: 15px;
    /* padding-left: 10px; */
    /* padding-right: 8px; */
    text-align: center;
    /* margin-top: 11px; */
    /* height: 30px; */
    padding-top: 5px;
    padding: 4px;
    margin-left: 4px;
    margin-top: 8px;
}

.movietitle{
	padding-left: 10px;
}

.movietitle tr{
	color:black;
}
.timeSelect{
    width: 56px;
    text-align: center;
    border: 1px solid gray;
    font-weight: bolder;
    height: 27px;
}

footer{
	background-color: rgb(255, 255, 255);
}

footer .wrap .options .option{
	color: rgb(0, 0, 0);
}

.footer{
	border-top : 1px solid #666;
	font-size : 14px;
}
.footer a:hover{
	text-decoration: underline;
}
#footerWrap{
	padding-top: 50px;
    padding-bottom: 70px;
	margin: 0 auto;
    width: 1344px;
    font-size: 14px;
}
#footerLogo img{
	margin-bottom: 15px;
}
.footerLink ul{
	margin-bottom: 15px;
}
.footerLink li{
	float:left;
	display: inline-block;
    position: relative;
    margin-right: 12px;
}
.footerText {
	margin-top: 30px;
}
.copyRight{
	float:right;
}
.footerSns{
	position: absolute;
    float: right;
    width: 300px;
    margin-left: 1160px;
    margin-top: -120px;
}
button:hover{
	background-color:#ccc;
}


