* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

#view {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 4fr;
}

#side-bar {
  background-color: rgb(23, 23, 22);
}

#side-bar img{
  width: 100%;
}

ul{
  display: flex;
  flex-direction: column;
}

/* ul li{
  margin-top: 50px;
} */


#side-menu{
  width: 186px;
  height: 80px;
  margin-top: 0;
}

.side-menu{
  width: 186px;
  height: 20px;
  display: flex;
  margin-left: 10px;
  padding: 24px 8px;
  align-items: center;

}
 
.side-menu a{
  color: white;
  text-decoration: none;
}

#main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#main #nav{
  width: 100%;
  height: 86.63px;
  background-color: rgb(23, 23, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main #nav span{
  margin-left: 20px;
}

#main #nav input{
  margin-right: 30px;
  height: 30px;
  width: 100px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
}

#list{
  width: 95%;
  height: 85%;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list #name{
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#category{
  width: 50x;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: xx-small;
}
#category option{
  color: black;
}

#name form input{
  margin: 0;
  width: 200px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

#name form button{
  background-color: white;
  border: none;
}

#name span{
  color: black;
  font-size: xx-large;
  font-weight: 450;
  margin-left: 20px;
}

#name form{
  margin-right: 20px;
}
#list #line{
  width: 95%;
  height: 2px;
  background-color: black;
}

#list-main{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;  
}

form input{
  color: black;
}



.hidden {
  display: none;
}

.side-menu {
  cursor: pointer;
  
}

.side-menu:hover {
  background-color: #fff;
  color: black;
}

.side-menu:hover a {
  color: black;
}