<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">

    <select id="adminlogin" parameterType="com.kh.app.admin.vo.AdminVo" resultType="com.kh.app.admin.vo.AdminVo">
        SELECT 
            NO, ID, PWD, NICK 
        FROM ADMIN 
        WHERE ID = #{id} 
        AND PWD = #{pwd}
        
    </select>
    
    <select id="adminlist">
    
    </select>


</mapper>