<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CartMapper">

	<select id="getAllCartItems" resultType="com.kh.app.cart.vo.CartVo">
		SELECT P.NAME , P.PRICE, P.PRODUCT_IMG, C.QUANTITY 
		, C.MEM_NO, C.PRODUCT_NO, P.DETAIL
		FROM CART C
		JOIN MEMBER M
		ON C.MEM_NO = M.NO
		JOIN PRODUCT P 
		ON C.PRODUCT_NO = P.NO
		WHERE M.NO = #{no}
	</select>

	<insert id="addCartItem">
		INSERT INTO CART
		(NO, MEM_NO, PRODUCT_NO, QUANTITY)
		VALUES
		(SEQ_CART.NEXTVAL , #{memNo}, #{prdNo}, #{quantity})
	</insert>
	
	<delete id="removeCartItem">
		 DELETE FROM CART 
		 WHERE PRODUCT_NO = #{prdNo} AND MEM_NO = #{memNo}
	</delete>
</mapper>