<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CinemaMapper">

	<select id="cinemaList" resultType="com.kh.app.cinema.vo.CinemaVo">
		SELECT *
		FROM CINEMA
		WHERE DEL_YN = 'N'
	</select>
	
	<select id="getCinemaList" resultType="com.kh.app.cinema.vo.CinemaVo">
		SELECT NO , CINEMA_NAME, CINEMA_ADDRESS, CINEMA_TEL, CINEMA_IMG
		FROM CINEMA
		WHERE NO = #{no}
		AND DEL_YN = 'N'
	</select>
	
	<select id="selectCinemaList" resultType="com.kh.app.cinema.vo.CinemaVo">
		SELECT *
		FROM CINEMA C JOIN THEATER T ON
		C.NO = T.CINEMA_NO JOIN SCREEN_INFO S ON
		T.NO = S.THEATER_NO
		WHERE C.DEL_YN = 'N'
	</select>
	<select id="selectTheaterList" resultType="com.kh.app.theater.vo.TheaterVo">
		SELECT *
		FROM CINEMA C JOIN THEATER T ON
		C.NO = T.CINEMA_NO JOIN SCREEN_INFO S ON
		T.NO = S.THEATER_NO
		WHERE C.DEL_YN = 'N'
	</select>
	<select id="selectDateList" resultType="com.kh.app.screeninfo.vo.ScreenInfoVo">
		SELECT *
		FROM SCREEN_INFO
		WHERE SCREENING_DATE >= SYSDATE
		AND SCREENING_DATE <![CDATA[ <= ]]> SYSDATE + 1
	</select>
	
</mapper>