<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MovieMapper">
	<select id="selectMovieHome" resultType="com.kh.app.movie.vo.MovieVo">
		SELECT *
		FROM MOVIE
		WHERE DEL_YN = 'N'
	</select>
	
	<select id="selectMovieDetail" resultType="com.kh.app.movie.vo.MovieVo">
		SELECT *
		FROM MOVIE
		WHERE NO = #{no}
		AND DEL_YN = 'N'
	</select>
	
	<select id="selectMovieList" resultType="com.kh.app.movie.vo.MovieVo">
		SELECT DISTINCT M.NO, M.TITLE
		FROM MOVIE M JOIN SCREEN_INFO S ON
		M.NO=S.MOVIE_NO JOIN THEATER T ON
		S.THEATER_NO = T.NO JOIN CINEMA C ON
		T.CINEMA_NO = C.NO
		WHERE M.DEL_YN = 'N'
	</select>
	
</mapper>